@use './_variable' as *

@mixin first_section($bg,$bg2,$color)
    padding: 10rem
    color: $color
    background-color: $bg
    position: relative
    h1
        font-size: 2rem
        font-weight: 800
    p
        font-size: 1rem
        font-weight: 400
    
    

    #sp_home1
        background-color: $bg2
        padding: 2rem 4rem 
        position: absolute
        bottom: 0
        border-radius: 5px 5px 0 0 
        right: 15%
    
    #title2
        text-align: center
        margin-bottom: 2rem
        font-size: 2rem
        font-weight: 800

    #flex_home
        .type1
            flex: 1
            aspect-ratio: 1/1
            background-color: $bg2
            margin-bottom: 1rem
        .type2
            aspect-ratio: 2/1
            flex: 2
            margin-bottom: 1rem
            background-color: $bg2
            min-height: 10rem

        >div
            >div
                border-radius: 5px
        
    #trois_section
        #article
            >div
                aspect-ratio: 2/1
    
    th,td
        padding-right: 1rem
    
    tbody
        font-size: 4rem
    
    // #book
        



@mixin btn_style($bg1,$bg2,$color)
    background-image: linear-gradient(to top right, $bg1, $bg2)
    border-radius:0 5px 5px 0
    padding: 10px 20px
    color: $color